body{
    background-color: black;
}

*{
    margin: 0;
}

.capa{
    text-align: center;
}

.menu{ 
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
    border-bottom: 1px solid white;
}
